@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F6FB;
  --foreground: #171717;
}

@font-face {
  font-family: PlusJakartaSans;
  src: url(../fonts/PlusJakartaSans-Regular.ttf) format('truetype');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: PlusJakartaSans;
}

.container {
  max-width: 1450px;
  margin: 0px auto;
}